<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.records.admin.system.mapper.SysAdminDepartMapper">

    <resultMap id="BaseResultMap" type="com.records.admin.system.entiey.SysAdminDepart">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="adminId" column="admin_id" jdbcType="BIGINT"/>
            <result property="departId" column="depart_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,depart_id
    </sql>
</mapper>
